
h1 {
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Verdana;
    /* color: #303030;
    border: 2px solid #303030;
    background-color: #ffffff; */
}
p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: Arial;
}
table {
    border: 2px solid #000000;
    background-color: #000000;
    color: white;

}
body {
    background-color: #ff8d85;
}
hr {
    height: 1px;
    background-color: #000000;
    border: none;
}
img {
    border: 2px solid #000000;
}
#grad {
    /* background-image: linear-gradient(180deg, rgb(29, 27, 41), #303030); */
    
    background-color: #252525;;
}
a {
    color: rgb(113, 210, 255);
}

.email {
    cursor: pointer;
}
td {
    background-color: #252525;
}
.logo {
    border: 0px;
    width: 50px; 
    height: 50px; 
    margin-right: 6px; 
    margin-left: 6px;
    vertical-align: middle;
}
/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Start in a collapsed state */
    height: 100%; /* Fill from top to bottom */
    width: 250px; /* Adjust the width as needed */
    padding: 20px;
    background-color: #333; /* Sidebar background color */
    color: #fff; /* Text color */
    transition: left 0.3s; /* Add transition for smooth animation */
}

/* Main Content Styles */
.main-content {
    margin-top: 56px;
    margin-left: 0; /* Start with no margin to the left */
    padding: 20px;
    transition: margin-left 0.3s; /* Add transition for smooth animation */
}
.bg-footer {
    background-color: #000000;
}