table {
    border: 2px solid #000000;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
}
hr {
    height: 1px;
    background-color: #000000;
    border: none;
}
img {
    border: 2px solid #000000;
}
#grad {
    /* background-image: linear-gradient(180deg, rgb(29, 27, 41), #303030); */
    
    background-color: #252525;;
}
a {
    color: rgb(113, 210, 255);
}

.email {
    color: rgb(113, 210, 255);
    cursor: pointer;
    text-decoration: underline;
}
td {
    
    border: 2px solid #000000;
    background-color: #252525;
    display: table-cell;
    padding: 0;
}
.logo {
    width: 40px; 
    height: 40px; 
    margin-right: 12px; 
    margin-left: 12px; 
    margin-top:12px;
    margin-bottom: 12px;
    vertical-align: middle;
    border: 0px;
}
.logo:hover {
    width: 40px; 
    height: 40px;
}
.letter_area {
    width: 50px; 
    height: 50px; 
    font-size: 40px;
    font-family: Verdana;
    text-align: center;
    user-select: none;
    font-weight: bold;
}
.letter_area_inactive {
    width: 50px; 
    height: 50px; 
    font-size: 40px;
    font-family: Verdana;
    text-align: center;
    user-select: none;
    font-weight: bold;
}
button {
    width: 150px; /* Set a fixed width for the buttons */
    height: 40px;
    background-color: #000000;
    color: white;
    font-family: Verdana;
    font-size: 28px;
}
.info-box {
    display: none;
    position: absolute;
    font-family: Verdana;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: black;
    display: none; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

/* Style for the image button */
#infoButton {
    cursor: pointer;
}
.empty-btn {
    background: transparent;
    border: none !important;
    font-size:0;
    width: auto;
    height: auto;
    overflow: hidden;
}

table {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: table;
}
tr{
    margin: 0;
    display: table-row;
}
.fixed_top {
    justify-content: space-around;
}
h1 {
    padding: 0;
}
@media only screen and (orientation: portrait) {
    .letter_area {
        width: 150px; 
        height: 150px;
        font-size: 100px;
    }
    .letter_area_inactive {
        width: 150px; 
        height: 150px; 
        font-size: 100px;
    }
    button {
        width: 450px; /* Set a fixed width for the buttons */
        height: 150px;
        background-color: #000000;
        color: white;
        font-family: Verdana;
        font-size: 80px;
        margin: 1%
    }
    .logo {
        
        width: 140px; 
        height: 140px; 
        margin-right: 12px; 
        margin-left: 12px; 
        margin-top:12px;
        margin-bottom: 12px;
        vertical-align: middle;
        border: 0px;
    }
    .logo:hover {
        width: 140px; 
        height: 140px; 
        margin-right: 12px; 
        margin-left: 12px; 
        margin-top:12px;
        margin-bottom: 12px;
        vertical-align: middle;
        border: 0px;

    }
    .info-box {
        
        width: 700px;
    }
    h2{
        font-size: 80px;
    }
}