<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_new.css') }}">
</head>

<div class ="fixed_top">
    <h1>About Me</h1>
    <ul>
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="/">Home</a></h4>
        </li >
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="/about">About</a></h4>
        </li >
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="/portfolio">Projects</a></h4>
        </li>
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="/service">Service</a></h4>
        </li>
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="{{ url_for('static', filename='ethan-ortiz-resume.pdf') }}">Resume</a></p>
        </li>
    </ul>
</div>

<body>
    <table class = "top_table">
        <tr>
            <td id = "larger_side">
                
                <h1>
                    Education
                </h1>
                <p>
                    Texas A&M University - College Station, TX
                </p>
                <p>
                    GPA: 3.84
                </p>
                <p>
                    College of Engineering - B.S.  in  Computer Science, Minor in Mathematics 
                </p>
                <h1>Coursework</h1>
                <p class = "td_text">
                    Data Structures and Algorithms, Discrete Structures, Computer Architecture, Programming Languages, Program Design, Computer Systems, Software Engineering, Algorithms, Human-Computer Interaction, Artificial Intelligence, Database Systems, Linear Algebra, Differential Equations, Fourier Series and Wavelets, Cryptography
                </p>
            </td>
            <td class = "td_spacer">

            </td>
            <td id = "smaller_side">
                <img src="{{ url_for('static', filename='pictures/ethan-france.png') }}" alt="Portrait" width="100%" height="auto">
            </td>
        </tr>
    </table>
    <table class = "top_table">
        <tr>
            <td id = "smaller_side">
                <img src="{{ url_for('static', filename='pictures/yosemite.jpg') }}" alt="Portrait" width="100%" height="auto">
            </td>
            <td class = "td_spacer">

            </td>
            <td id = "larger_side">
                
                <h1>
                    Work Experience
                </h1>
                <p>
                    Asana - San Francisco, CA
                </p>
                <p>
                    Software Engineering Intern
                </p>
                <p>
                    May 2024 - August 2024
                </p>
                <ul>
                    <li><p>Worked alongside a team of full time employees</p></li>
                    <li><p>Shipped features used by thousands of customers</p></li>
                    <li><p>Used Typescript/React and GraphQL for frontend development</p></li>
                    <li><p>Used Typescript and Scala for backend development</p></li>
                </ul>
            </td>
        </tr>
    </table>
    <table class="sub_table">
        <tr>
            <td id = "smaller_side">
                <img src="{{ url_for('static', filename='pictures/ethan-hiking.png') }}" alt="Portrait" width="100%" height="auto">
            </td>
            <td class = "td_spacer">

            </td>
            <td id = "larger_side">
                
                <h1>Skills</h1>
                <ul>
                    <li>
                        <p>Java, C++, Python</p>
                    </li>
                    <li>
                        <p>HTML, CSS, Javascript</p>
                    </li>
                    <li>
                        <p>Typescript, React, Scala</p>
                    </li>
                    <li>
                        <p>C#, SQL, Haskell</p>
                    </li>
                    <li>
                        <p>C, Assembly, XML</p>
                    </li>
                    <li>
                        <p>Linux, Git, Github</p>
                    </li>
                    <li>
                        <p>Azure Cloud Services</p>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <table class = "sub_table">
        <tr>
            <td id = "larger_side">
                
                <h1>Awards</h1>
                <ul>
                    <li><p>
                        Eagle Scout
                    </p></li>
                    <li><p>
                        National Hispanic Scholar
                    </p></li>
                    <li><p>
                        TMEA Allstate
                    </p></li>
                    <li><p>
                        DECA ICDC Finalist
                    </p></li>
                    <li><p>
                        Dean&#x27s List
                    </p></li>
                    <li><p>
                        Employee of the Month - HDC
                    </p></li>
                </ul>
            </td>
            <td class = "td_spacer">

            </td>
            <td id = "smaller_side">
                <img src="{{ url_for('static', filename='pictures/mountain.JPG') }}" alt="Portrait" width="100%" height="auto">
            </td>
        </tr>
    </table>
</body>

<div class ="low_bar">
    <div> 
        <h4>Contact</h4>
        <p>Email: <a class="bar_item" onclick="copyEmailToClipboard()">ethan@loszitros.com</a></p>
        <p>Phone: <a class="bar_item" onclick="copyPhoneToClipboard()">(512) 923-3309</a></p>
    </div>
    <div> 
        <p>
            <a href="https://www.linkedin.com/in/ethan-ortiz-0b3aa5249" title="ethan-ortiz-0b3aa5249">
            <img src="{{ url_for('static', filename='linkedin_logo.png') }}" alt="LinkedIn Logo" class = "logo"></a>
            <a href="https://www.instagram.com/e.as.in.edward/" title="e.as.in.edward">
            <img src="{{ url_for('static', filename='instagram_logo.png') }}" alt="Instagram Logo" class = "logo"></a>
            <a href="https://github.com/ethanortiz-tamu?tab=repositories" title="ethanortiz-tamu">
            <img src="{{ url_for('static', filename='github_logo.png') }}" alt="Github Logo" class = "logo"></a>
        </p>
    </div>
</div>

<script>
    function copyEmailToClipboard() {
        const emailText = "ethan@loszitros.com";
        const tempElement = document.createElement('textarea');
        tempElement.value = emailText;
        document.body.appendChild(tempElement);
        tempElement.select();
        document.execCommand('copy');
        document.body.removeChild(tempElement);
        
        showToast("Copied to clipboard!");
    }
    function copyPhoneToClipboard() {
        const emailText = "5129233309";
        const tempElement = document.createElement('textarea');
        tempElement.value = emailText;
        document.body.appendChild(tempElement);
        tempElement.select();
        document.execCommand('copy');
        document.body.removeChild(tempElement);
        
        showToast("Copied to clipboard!");
    }

    function showToast(message) {
        const toastElement = document.createElement("div");
        toastElement.innerText = message;
        toastElement.style.backgroundColor = "#252525";
        toastElement.style.color = "#fff";
        toastElement.style.padding = "10px";
        toastElement.style.position = "fixed";
        toastElement.style.bottom = "30px";
        toastElement.style.left = "50%";
        toastElement.style.transform = "translateX(-50%)";
        toastElement.style.borderRadius = "5px";
        toastElement.style.zIndex = "999";
        toastElement.style.fontFamily = "Verdana";
        document.body.appendChild(toastElement);

        setTimeout(function () {
            document.body.removeChild(toastElement);
        }, 3000); 
    }
</script>
</html>