<!DOCTYPE html>
<html>
    <head>
        <title>Top Songs</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='callback.css') }}">
    </head>
    <body id="grad">
        <center>
            <hr>
            <div class="button-container">
                <button class="btn-switch" data-group-id="data-group-1" onclick="updateText(0)">this month</button>
                <button class="btn-switch" data-group-id="data-group-2" onclick="updateText(1)">last 6 months</button>
                <button class="btn-switch" data-group-id="data-group-3" onclick="updateText(2)">all time</button>
            </div>
            <hr>
            <table><tr><td><h1><div id="term_text">top songs this month:</div></h1></td></tr></table>
            <hr>
            <ul>
                <table class="data-group active" id="data-group-1">
                {% for song in top_songs_short %}
                <tr>
                    <td>{{ song.rank  }}.</td><td>  <img src="{{ song.artwork }}" alt="Album Artwork" width="100" height="100"></td>
                    <td class = "fill">
                        <table class="borderlesss_table">
                            <tr><td>{{ song.name }}</td></tr>
                            <tr>
                                <td class="secondary_text">
                                    by {{ song.artists }}
                                </td>
                                <td class="album_text">
                                    {{ song.album_name }}
                                </td>
                                <td class="song_length">
                                    {{ song.song_length }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% endfor %}
                </table>


                <table class="data-group" id="data-group-2">
                    {% for song in top_songs_medium %}
                    <tr>
                        <td>{{ song.rank  }}.</td><td>  <img src="{{ song.artwork }}" alt="Album Artwork" width="100" height="100"></td>
                        <td class = "fill">
                            <table class="borderlesss_table">
                                <tr><td>{{ song.name }}</td></tr>
                                <tr>
                                    <td class="secondary_text">
                                        by {{ song.artists }}
                                    </td>
                                    <td class="album_text">
                                        {{ song.album_name }}
                                    </td>
                                    <td class="song_length">
                                        {{ song.song_length }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </table>


                <table class="data-group" id="data-group-3">
                    {% for song in top_songs_long %}
                    <tr>
                        <td>{{ song.rank  }}.</td><td>  <img src="{{ song.artwork }}" alt="Album Artwork" width="100" height="100"></td>
                        <td class = "fill">
                            <table class="borderlesss_table">
                                <tr><td>{{ song.name }}</td></tr>
                                <tr>
                                    <td class="secondary_text">
                                        by {{ song.artists }}
                                    </td>
                                    <td class="album_text">
                                        {{ song.album_name }}
                                    </td>
                                    <td class="song_length">
                                        {{ song.song_length }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </ul>
        </center>
        <script src="{{ url_for('static', filename='callback.js') }}"></script>
    </body>
</html>