<!DOCTYPE html>
<html>
<head>
<title>Ethan Ortiz</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_new.css') }}">
</head>
<div class ="fixed_top">
    <h1>Ethan Ortiz</h1>
    <ul>
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="/">Home</a></h4>
        </li >
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="/about">About</a></h4>
        </li >
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="/portfolio">Projects</a></h4>
        </li>
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="/service">Service</a></h4>
        </li>
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="{{ url_for('static', filename='ethan_ortiz_resume.pdf') }}">Resume</a></p>
        </li>
    </ul>
</div>

<body>
    <table class = "top_table">
        <tr>
            <td id = "larger_side">
                <img src="https://lh3.google.com/u/0/d/1y-uiC_ZOwSJyj_L9Ha6JrEk8fdIxhkr8=w1482-h919-iv1" alt="Portrait of me in White Sands National Park" width="100%" height="auto">
            </td>
            <td  class = "td_spacer">

            </td>
            <td id="smaller_side">
                <h1>
                    Bio
                </h1>
                <p class = "td_text">
                    I am a Senior Computer Science student at Texas A&M University, originally from Austin, TX. Over this past summer, I worked as a software engineering intern at Asana in San Francisco, CA. I worked as a full stack developer and refined my skills using languages such as Typescript/Javascript and Scala. I am familiar with several frontend and backend frameworks such as React, Ruby on Rails, Django, Flask, and GraphQL. I currently work an on campus job at the TAMU Help Desk as a Student Coordinator. I am looking for work as a frontend or full stack developer and I will be available to start in May of 2025 when I graduate. I am open to working anywhere in the US and I am willing to relocate.
                </p>
            </td>
        </tr>
    </table>
    <table class = "sub_table">
        <tr>
            <td id = "smaller_side">
                <h1>
                    Hobbies
                </h1>
                <p class = "td_text">
                    Outside of my classes and work, I enjoy watching football, hiking, playing pickup basketball, going to the gym, and playing <a href = "https://tracker.gg/valorant/profile/riot/MrRed%234132/overview">Valorant</a>. I am Diamond 3 in Valorant, and I won both of my fantasy football leagues last year which is probably my crowning achievement from the last few months. I also really enjoy skiing and will take any opportunity to take a trip to Colorado and get a few days of skiing in.
                </p>
            </td>
            <td class = "td_spacer">

            </td>
            <td id="larger_side">
                <img src="https://lh3.google.com/u/0/d/1V4C6cxGpa_XvwvtiOkwxMJ_3JtYiEIgK=w1482-h919-iv1" alt="White Sands National Park" width="100%" height="auto">
            </td>
        </tr>
    </table>
</body>

<div class ="low_bar">
    <div> 
        <h4>Contact</h4>
        <p>Email: <a class="bar_item" onclick="copyEmailToClipboard()">ethan@loszitros.com</a></p>
        <p>Phone: <a class="bar_item" onclick="copyPhoneToClipboard()">(512) 923-3309</a></p>
    </div>
    <div> 
        <p>
            <a href="https://www.linkedin.com/in/ethan-ortiz-0b3aa5249" title="ethan-ortiz-0b3aa5249">
            <img src="{{ url_for('static', filename='/linkedin_logo.png') }}" alt="LinkedIn Logo" class = "logo"></a>
            <a href="https://www.instagram.com/e.as.in.edward/" title="e.as.in.edward">
            <img src="{{ url_for('static', filename='/instagram_logo.png') }}" alt="Instagram Logo" class = "logo"></a>
            <a href="https://github.com/ethanortiz25?tab=repositories" title="ethanortiz25">
            <img src="{{ url_for('static', filename='/github_logo.png') }}" alt="Github Logo" class = "logo"></a>
        </p>
    </div>
</div>

<script>
    function copyEmailToClipboard() {
        const emailText = "ethan@loszitros.com";
        const tempElement = document.createElement('textarea');
        tempElement.value = emailText;
        document.body.appendChild(tempElement);
        tempElement.select();
        document.execCommand('copy');
        document.body.removeChild(tempElement);
        
        showToast("Copied to clipboard!");
    }
    function copyPhoneToClipboard() {
        const emailText = "5129233309";
        const tempElement = document.createElement('textarea');
        tempElement.value = emailText;
        document.body.appendChild(tempElement);
        tempElement.select();
        document.execCommand('copy');
        document.body.removeChild(tempElement);
        
        showToast("Copied to clipboard!");
    }

    function showToast(message) {
        const toastElement = document.createElement("div");
        toastElement.innerText = message;
        toastElement.style.backgroundColor = "#252525";
        toastElement.style.color = "#fff";
        toastElement.style.padding = "10px";
        toastElement.style.position = "fixed";
        toastElement.style.bottom = "30px";
        toastElement.style.left = "50%";
        toastElement.style.transform = "translateX(-50%)";
        toastElement.style.borderRadius = "5px";
        toastElement.style.zIndex = "999";
        toastElement.style.fontFamily = "Verdana";
        document.body.appendChild(toastElement);

        setTimeout(function () {
            document.body.removeChild(toastElement);
        }, 3000); 
    }
</script>
</html>