<!DOCTYPE html>
<html>
<head>
<title>Portfolio</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_new.css') }}">
</head>


<div class ="fixed_top">
    <h1>Projects</h1>
    <ul>
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="/">Home</a></h4>
        </li >
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="/about">About</a></h4>
        </li >
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="/portfolio">Projects</a></h4>
        </li>
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="/service">Service</a></h4>
        </li>
        <li class = "bar_item_li">
            <h4><a class = "bar_item" href="{{ url_for('static', filename='ethan_ortiz_resume.pdf') }}">Resume</a></p>
        </li>
    </ul>
</div>
<body class = "bg-grey text-white center">
    <table class = "top_table">
        <tr>
            <td id = "smaller_side">
                <h1>
                    <a class = "text-white bar_item" href = "/wordle_solver">Wordle Solver</a>
                </h1>
                <p class = "td_text">
                    I created this website using Azure Cloud Services, and a Python Flask server. On this website, the user is told what word to guess on <a href = "https://www.nytimes.com/games/wordle/index.html">Wordle</a>. After inputting the word into whatever website they are playing in, the user reports which colors were given back onto my website. After sending a request to the server, a python script is run on the server which tells the user which word they should guess next. This process is repeated until the word is guessed correctly. In my testing the algorithm that I came up with solves the Wordle on average in 3.5 guesses.
                </p>
            </td>

            
            <td class="td_spacer">

            </td>
            
            <td id = "larger_side">
                <a  href = "/wordle_solver"><img src="https://lh3.google.com/u/0/d/1M-NbhsXBP_cr-g7DuMdA6gyeXpOf6dH1=w1482-h919-iv1" alt="Wordle Solver example" width="100%" height="auto"></a>
            </td>
        </tr>
    </table>
    <table class = "sub_table">
        <tr>
            <td id = "larger_side">
                <a href = "/login"><img src="https://lh3.google.com/u/0/d/1I8KtyaIDM_vFjOkIIieWpUsE6qrkI7vr=w1482-h919-iv1" alt="Spotify Stats example" width="100%" height="auto"></a>
            </td>
            <td class = "td_spacer">

            </td>
            <td id = "smaller_side">
                <h1>
                    <a class = "text-white bar_item" href = "/login">Stats for Spotify</a>
                </h1>
                <p class = "td_text">
                    I created this website using Azure Cloud Services, a Python Flask server, and the Spotify API. On this website, the Python server, which is running on Azure cloud, accesses Spotify's API in order to show the user their top songs in a given time period. 
                </p>
            </td>
        </tr>
    </table>
    <table class = "sub_table">
        <tr>
            <td id = "larger_side">
                <img src="https://lh3.google.com/u/0/d/10WEw47RBqBwDoheT8s8t0SIGvoBMxEik=w1482-h919-iv1" alt="Point of sale system, cashier view" width="100%" height="auto">
            </td>

            
            <td class="td_spacer">
    
            </td>
            
            <td id = "smaller_side">
                <h1 style = "padding-top: 10px;">
                    <a class = "text-white bar_item" href = "https://piadapos.azurewebsites.net/menu_location/">Point of Sale System</a>
                </h1>
                <p style = "padding: 4%;">
                    I created this website using Azure Cloud Services, a Python Django server, and a PostgreSQL database. I worked as a full stack developer in a team of 5 people using the Agile method to develop a mock POS system for Piada. In this I was responsible for creating CRUD operations for our database and their user interactions. This included menu items, ingredients, users, and orders. Through this I learned not only how to use Django and PostgreSQL but also how to work in a team using the Agile and Scrum methods. We also impletemented several API's including google oauth and google translate.
                </p>
            </td>
        </tr>
    </table>
    <table class = "sub_table">
        <tr>
            <td style="height: 20vh;">
                <img src="https://lh3.google.com/u/0/d/1P78PiozbUTDcB7n7NoaU_4q0-WQY-bHm=w1482-h919-iv1" alt="Point of sale system, edit item page" width="100%" height="auto">
            </td>
        </tr>
    </table>
    <table class = "sub_table">
        <tr>
            <td style="height: 20vh;">
                <img src="https://lh3.google.com/u/0/d/1lM3Ya7VUbLwliTbMKTfmoR8oJcpnP6xy=w1482-h919-iv1" alt="Point of sale system, menu page" width="100%" height="auto">
            </td>
        </tr>
    </table>
</body>

<div class ="low_bar">
    <div> 
        <h4>Contact</h4>
        <p>Email: <a class="bar_item" onclick="copyEmailToClipboard()">ethan@loszitros.com</a></p>
        <p>Phone: <a class="bar_item" onclick="copyPhoneToClipboard()">(512) 923-3309</a></p>
    </div>
    <div> 
        <p>
            <a href="https://www.linkedin.com/in/ethan-ortiz-0b3aa5249" title="ethan-ortiz-0b3aa5249">
            <img src="{{ url_for('static', filename='linkedin_logo.png') }}" alt="LinkedIn Logo" class = "logo"></a>
            <a href="https://www.instagram.com/e.as.in.edward/" title="e.as.in.edward">
            <img src="{{ url_for('static', filename='instagram_logo.png') }}" alt="Instagram Logo" class = "logo"></a>
            <a href="https://github.com/ethanortiz-tamu?tab=repositories" title="ethanortiz-tamu">
            <img src="{{ url_for('static', filename='github_logo.png') }}" alt="Github Logo" class = "logo"></a>
        </p>
    </div>
</div>

<script>
    function copyEmailToClipboard() {
        const emailText = "ethan@loszitros.com";
        const tempElement = document.createElement('textarea');
        tempElement.value = emailText;
        document.body.appendChild(tempElement);
        tempElement.select();
        document.execCommand('copy');
        document.body.removeChild(tempElement);
        
        showToast("Copied to clipboard!");
    }
    function copyPhoneToClipboard() {
        const emailText = "5129233309";
        const tempElement = document.createElement('textarea');
        tempElement.value = emailText;
        document.body.appendChild(tempElement);
        tempElement.select();
        document.execCommand('copy');
        document.body.removeChild(tempElement);
        
        showToast("Copied to clipboard!");
    }

    function showToast(message) {
        const toastElement = document.createElement("div");
        toastElement.innerText = message;
        toastElement.style.backgroundColor = "#252525";
        toastElement.style.color = "#fff";
        toastElement.style.padding = "10px";
        toastElement.style.position = "fixed";
        toastElement.style.bottom = "30px";
        toastElement.style.left = "50%";
        toastElement.style.transform = "translateX(-50%)";
        toastElement.style.borderRadius = "5px";
        toastElement.style.zIndex = "999";
        toastElement.style.fontFamily = "Verdana";
        document.body.appendChild(toastElement);

        setTimeout(function () {
            document.body.removeChild(toastElement);
        }, 3000); 
    }
</script>
</html>

